:root {
    --brend-color: #2196F3;
    --text-color: #757575;
    --title-text-color: #212121;
    --primery-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --accent-whit-color: #FFFFFF;
    --footer-background-color: #2F303A;
    --main-bold-weight: 700;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--text-color);
    background: var(--primery-background-color);
    font-size: 14px;
}


.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.title-visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* =Header */

.logo {
    font-family: Raleway;
    font-weight: var(--main-bold-weight);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--brend-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-alt {
    color: #000000;
}

.nav-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}


.contacts-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    
}


.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: var(--brend-color);
}

.site-nav .nav-link.current {
    color: var(--brend-color);
}
 /*Hero section*/

.main-section {
    background: #2F303A
    ;
}
.main-title {
    color: var(--accent-whit-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}

.order-button {
    background-color: var(--brend-color);
    color: var(--accent-whit-color);
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 1.87;
    border-width: 0px;

}

.order-button:hover,
.order-button:active{
    background-color: #188CE8;
 }

 /* Benefit section */

 .benefit-title {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
 }

 .benefit-text {
    line-height: 1.71;
    letter-spacing: 0.03em;
 }



 .section-title {
    color: var(--title-text-color);
    font-weight: var(--main-bold-weight);
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
 }

 /* Team section*/

 .team-section {
    background-color: var(--secondary-background-color);
 }

 .employe-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
 }
 
 .employe-position {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

/* Footer */

.footer {
    background-color: var(--footer-background-color);
}

.logo-f-alt {
    color: var(--accent-whit-color);
}

.footer-address {
    color: var(--accent-whit-color);
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--brend-color);
}

/*Portfolio page*/

.filter-button {
    background-color: var(--secondary-background-color);
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    border-width: 0px;
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--brend-color);
    color: var(--accent-whit-color);

}

.portfolio-title {
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
